body {
  background-color: #121212;
  font-family: 'Roboto', sans-serif;
}
  


#ficha {
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
}
    
#imagen {
  width: 250px;
  height: 250px;
  background-size: 250px 250px;
}

.contenedor-titulos{
  text-align: center;
  color: white;
}

.input-group{
  width: 50%;
}

.contenedor-formulario{
  display: flex;
  justify-content: center;
}

.contendor-info{
  display: flex;
  justify-content: center;
}

.user-foto{

}

.info-user{
  margin-left: 10%;
  margin-top: 5%
}